<script src="/js/scripts.js" charset="utf-8"></script>


<section class="section parallax parallax-1">
  <div class="container">
    <img id="page-logo" src = "/images/WWSLogo.png"> </img>
  </div>
</section>

<section class="section content">
  <div class="container">
    <h2>We Who Seek Is...</h2>
    <p>A journal built by a community of like-minded film photographers, seeking to tell the stories and share the beauty that surrounds us.</p>
  </div>
</section>

<section class="section parallax parallax-2">
  <div class="container">
  </div>
</section>

<section class="section content">
  <div class="container">
    <p>We would <a href="/mailinglist">love</a> to have you along for the ride!</p>
  </div>
</section>
