<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone.js" charset="utf-8"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
    <script type="text/template" id="member-template">
      <button type="button" class="remove top">delete</button>
      <h2 class="line"><%%= name %></h2><h2><%%= email %></h2>
    </script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>We Who Seek</title>
  </head>


  <body>
    <container>
      <%= yield %>
    </container>
  </body>
</html>
