<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/scripts/javascript.js"> </script>
    <title>We Who Seek</title>
  </head>


  <body>
    <container>
      <%= yield %>
    </container>
  </body>
</html>
