<script type="text/template" id="member-template">
  <button type="button" class="remove top">x</button>
  <h3 class="line"><%%= name %></h3><h5><%%= email %></h5>
</script>

<a id='home' href="/">Home</a>

<div id="sign-up-form">
  <form class="create-member">
    <h2>Sign-up to join the We Who Seek community.</h2>
    <input type="text"  id='name' class='member-inputs' name="member[name]" placeholder="Full Name"><br/>
    <input type="email" id='email' class='member-inputs email' name="member[email]" placeholder="Email Address"><br/>
    <input type="submit" class='member-submit' value="Sign Up!">
  </form>
  <div id="member-list">
  </div>
</div>


<script src="/js/models.js" charset="utf-8"></script>
<script src="/js/collections.js" charset="utf-8"></script>
<script src="/js/views.js" charset="utf-8"></script>
<script src="/js/scripts.js" charset="utf-8"></script>
