/*html{
  background: url("/images/stagg.jpeg") center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#page-logo{
  width: 24%;
  height: auto;
  margin-left: 38%;
  margin-right: 38%;
}

img{
  margin: 17%;
}

body{
  font-family: 'Quicksand', sans-serif;
  background-color: whitesmoke;
  color: darkslategrey;
  font-size: 16px;
}

a{
  color: salmon;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.4em;
}

#sign-up-form{
  border: 5px solid dimgrey;
  padding: 5%;
  margin: 5% 25%;
  text-align: center;
}

#home{
  margin-left: 90%;
}

button{
  height: 15px;
  width: 15px;
  padding: 0;
  margin-left: 35%;
  margin-bottom: -10%;
  border-radius: 25px;
  font-size: 8px;
  line-height: 8px;
}

h5{
  margin-top: -5%;
  font-size: .8em;
}


.member-inputs{
  margin: .5% 25%;
  width: 50%;
  height: 20px;
}


.container {
  max-width: 960px;
  margin: 0 auto;
}
section.section:last-child {
  margin-bottom: 0;
}
section.section h2 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.section p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.section p:last-child {
  margin-bottom: 0;
}

section.section.content {
  padding: 40px 0;
}
section.section.parallax {
  height: 900px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.section.parallax-1 {
  background-image: url("/images/bigcoast.jpg");
}
section.section.parallax-2 {
  background-image: url("/images/zanzibar3.jpg");
}


@media all and (min-width: 650px) {
  body{
    font-size: 14px;
  }

  section.section h2 {
    font-size: 42px;
  }
  section.section p {
    font-size: 20px;
  }
  section.section.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.section.parallax h1 {
    font-size: 160px;
  }
}
